/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: 'Google sans';
    src: local('Google sans'), url(./assets/fonts/GoogleSans-Regular.ttf);
    font-display: swap;
  }
  @font-face {
    font-family: 'Google sans';
    src: url(./assets/fonts/GoogleSans-Italic.ttf);
    font-weight: 200;
    font-style: italic;
    font-display: swap;
  }
  @font-face {
    font-family: 'Google sans';
    src: url(./assets/fonts/GoogleSans-MediumItalic.ttf);
    font-weight: 400;
    font-style: italic;
    font-display: swap;
  }
  @font-face {
    font-family: 'Google sans';
    src: url(./assets/fonts/GoogleSans-Bold.ttf);
    font-weight: 700;
    font-style: bold;
    font-display: swap;
  }
  
  body {
    font-weight: 400;
    font-family: 'Google sans', 'Segoe UI', 'Helvetica Neue', Helvetica, Roboto,
      'Open Sans', FreeSans, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    
    ::selection {
      color: white;
      background-color: rgb(34, 32, 36);
    }
  }
  
  
  .nav-item.tab-style {
    
    border: 2px solid #1ee9c7;
    border-radius: 0.4rem;
    
  }
  .nav-pills .nav-link.active,
  .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1e54e9;
  }
  .navbar.navbar-2 .navbar-toggler-icon {
    background-image: url('https://mdbootstrap.com/img/svg/hamburger2.svg?color=fff');
  }
  .navbar.navbar-dark .navbar-toggler-icon {
    background-image: url('https://mdbootstrap.com/img/svg/hamburger2.svg?color=fff');
    cursor: pointer;
  }
  .form-control {
    border-top-left-radius: 5em !important;
    border-bottom-left-radius: 5em !important;
  }